@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";
@import 'vue3-toastify/dist/index.css';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.Toastify__toast--success {
    background-color: #059669 !important;
    /* Hijau */
    color: white !important;
}

.Toastify__toast--error {
    background-color: #dc2626 !important;
    /* Merah */
    color: white !important;
}

.Toastify__toast {
    border-radius: 0px !important;
    /* Flat sesuai mau lo */
    font-size: 12px !important;
    padding: 10px 15px !important;
    min-height: 40px !important;
}